header{
    background-color: $primary-bg-color;
    .header{
        @include flex();
        padding: 1rem;
        nav{
            ul{
                @include flex();
                gap: 2rem;
                li{
                    a{
                        color: $text-color;
                    }
                }
            }
        }
        .SignUp{
            @extend %primary-btn;
        }
        .Login{
            @extend %transparent-btn;
        }

        .fa-solid{
            display: none;
            color: white;
        }
        @media screen and (max-width:767px){
            nav{
                display: none;
            }
            .buttons{
                display: none;
            }
            .fa-solid{
                display: block;
            }
        }
    }
}